.birthdays__content {
  padding: 10px;
  min-width: 400px;

  h2 {
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
    text-align: center;
  }

  .no_emp {
    text-align: center;
  }

  ul {
    margin-bottom: 10px;
    list-style-type: initial;
  }
}
